html {
    margin: 0;
    padding: 0;
}

body {
    margin: 0; 
    padding: 0px;
    background-image: url(../image/jule\ halløj\ med\ opacity.jpg);
    background-repeat: repeat;
    position: relative;

}
header {height: 100px;
background-color: white;
}

.logo {
    width: 30%;
    padding-top: 20px;
    padding-left: 20px;
}

.navbarmobil {float: right;

padding-right: 20px;
padding-top: 30px ;}

.headtop {
    grid-area: header;
}

.hero {
    grid-area: heroimage; 
}

.content-2 {
    grid-area: content2; 
}

.menu {
    grid-area: menulist; 
}

.heroimage {
    width: 100%; 
}

.content-2 {
    margin: 37px; 
    padding: 25px; 
    border: 1px solid #9d8367;
    line-height: 25px;
    font-family: 'bookman old style';
    
}

.h2 {
    text-align: center;
    color: #9d8367; 
    text-shadow: 0.5px 0.5px 1px #9d836752;
}

p {padding-top: 10px;}

.container {
    border: none;
    margin: auto;
    display: grid;
    grid-template-areas: 
    "header"
    "heroimage"
    "content2"
    "menulist";
}

footer {
display: flex;
justify-content: space-evenly;
background-color: #0E4600;
    color: white;
font-size: 15px;
}

.ikon {padding: 5px};}
    
    /* float: left;
width: 100px;
padding-top: 5px; */
}

@media screen and (max-width: 400px) {

video {width: 375px;}

footer {
    background-color: #0E4600;
    color: white;
font-size: 10px;

/* display:grid;
grid-gap: 1rem;
    grid-template-columns: 33% 33%;

    grid-template-rows: 33% 33% 33%;
   
    grid-template-areas:
    "logo info medlem"
    ". info medier"
    ; */

}



footer h3 {
    /* grid-area: medlem; */
    width: 100px;
    /* padding-right: 10px;
    float: right;
    margin-left: 130px; */

}

.footerbillede {
    /* grid-area: medlem; */
    width: 100px;
    /* padding-top: 30px; */
    margin: 0 auto;
    /* float: right;
    padding: 10px; */
    }

.mail {border: 0;
padding: 0;}

.footertekst {
    margin: 0 auto;
    font-size: 1.2rem;
    text-align: center;
    /* grid-area: info; */
    /* float: left; */
line-height: 25px;
}

.ikon {
    padding: 5px;
    margin-left: 3px;
    /* grid-area: medier; */
} 

.medier {
    /* grid-area: medier; */
    
    padding-left: 90px;
    
    /* float: right;
width: 150px; */
}

.medier h3 {
font-size: 20px;
width: 300px;}

}

}

