@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');
font-family: 'Courgette', cursive;

html body {
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: 'Bookman Old Style'
}

* {margin: 0;
padding: 0;
box-sizing: border-box;}


header {
    padding: 10px;
    display: block;
    /* display: flex;
    justify-content: space-between; */
   
}

#logo {margin: 0;
    padding-left: 50px;
    padding-top: 10px;

}

ul {
    list-style: none;
    font-size: 20px;
    float: right;
    padding-top: 65px;
    /* vertical-align: bottom; */
    
}

ul li {
    display: inline;
    padding: 30px;
}

ul li a {
    margin: 0;
    padding: 0;
}

/* .video {
    grid-area: video;
    width: 400px;
    height: auto;
    display: inline-block;
}

.jul {
    grid-area: jul;
}

.billet {
    grid-area: billet;
}

.abningstider {
    grid-area: abent;
}

.program {
    grid-area: program;
}

.mad {
    grid-area: mad;
}

.covid {
    grid-area: covid;
}

.billede1 {
    grid-area: billede1;
}

.billede2 {
   grid-area: billede2;
}

.billede3 {
    grid-area: billede3;
}

.billede4 {
    grid-area: billede4;
}

.billede5 {
    grid-area: b5;
} */


/* img {
    width: 100%;
    height: auto; */


#logomobil #burger {
    width: 50px;
    height: 50px;
}

    header {
        display: block;
        width: 100%;
        height: 100px;
    }

    body {
        display: grid;
        grid-template-columns: 1fr;
        padding: 5vw;
    }

    h3 {
    font-size: 20px;
    font-family: 'Courgette', cursive;
    text-align: center;
    padding: 5vw 2vw;
    color: #9d8367;
    }

    p {
        font-size: 15px;
        padding: 10px;
        text-align: left;
    }

    .container2 {
        display: none;
    }

    .navbarweb {
        display: none;
    }

    .navbarmobil {
        display: inline-block;
        clear: both;
    }

    .overskrift {
        display: none;
    }

    .container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .box {
        width: 42vw;
        min-height: 160px;
        text-align: left;
        vertical-align: center;
        margin-top: 4vw;

    }

    .dbox, .videobox {
        width: 100%;
        min-height: 160px;
        vertical-align: center;
        margin-top: 4vw;
    }

    .video {
        width: 100%;
    }

    .bb {
        border: solid 2px #9d8367;
    }

    .billede1  {background-image: url(/Assets/image/hjerte.jpg);
                background-position: center;
                background-size: cover;}
    .billede2   {background-image: url(/Assets/image/nød.jpg);
                background-repeat: no-repeat;
                background-position: center;
                background-size: cover;}
    .billede3   {background-image: url(/Assets/image/Pingvin.jpg);
                background-repeat: no-repeat;
                background-position: center;
                background-size: cover;}
    .billede4   {background-image: url(/Assets/image/Julemand.jpg);
                background-repeat: no-repeat;
                background-position: center;
                background-size: cover;}
    .billede5   {background-image: url(/Assets/image/Dyr.jpg) ;
                background-repeat: no-repeat;
                background-position: center;
                background-size: cover;}
    .billede6   {background-image: url(/Assets/image/Boder.jpg) ;
                background-repeat: no-repeat;
                background-position: center;
                background-size: cover;}


   /* .container {
        border: none;
        margin: auto;
        display: grid;
        grid-template-columns: 49% 49%;
        grid-template-rows: auto auto auto auto auto auto;
        grid-column-gap: 2%;
        grid-template-areas: 
        "video video"
        "jul jul"
        "billede1 åbent"
        "billet billede2"
        "billede3 billede3"
        "program program"
        "billede4 covid"
        "mad billede5";
    }  */

/* HEAD */

     .tekst h2 {
         text-align: center;
        padding-top: 20px;
    }

    body {background-image: url(../Image/jule\ halløj\ med\ opacity.jpg);
    background-repeat: repeat;
    }




@media screen and (min-width: 1000px) {

    body { 
        background-image: url(/Assets/image/baggrundtop.jpg);
        background-position: center;
        background-size: cover;
        padding-top: 16vw;
    }

    .navbarmobil {
        display:none;
    }

    h3 {
        font-size: 30px;
        font-family: 'Courgette', cursive;
        text-align: center;
        color: #9d8367;
        }

    .overskrift {
        display: block;
        font-family: 'Courgette', cursive;
        text-align: center;
        font-size: 50px;
        line-height: 80px;
        color: #9d8367;
    }

    .container {
        display: none;
    }

    .container2 {
        width: 70%;
        margin: auto;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .box, .dbox {
        width: 33.333%;
        height: 18vw;
        margin: 0;
        border: none;
        padding-top: 150px;
    }

    .video {
        margin: 0;
        vertical-align: top;
        border: none;
    }

    footer {
        display: flex;
        justify-content: space-evenly;
        background-color: #0E4600;
            color: white;
        font-size: 15px;
        }
        
        .ikoncontainer {margin: 0;
        padding-left: 0;}

        .footerlogo {padding: 0;
        margin: 0;}


        
        .medier {padding:0;
        margin: 0;}

    /* .container {
        border: none;
        width: 100%;
        margin: auto;
        display: grid;
        grid-template-columns: 3fr 3fr 3fr;
        grid-template-areas: 
        ". video video video ."
        ". video video video ."
        ". b1 billet b2 ." 
        ". abent b3 program ."
        ". b4 jul b5 ."
        ". mad b1 covid .";
    }

    .container div img {
        width: 100%;
        height: auto;
    }

    .container div h2 {
        text-align: center;
    } */
    