html {
    margin: 0;
    padding: 0;
}

body {
    margin: 0; 
    padding: 0px;
    background-image: url(../image/jule\ halløj\ med\ opacity.jpg);
    background-size: contain;
}

.logo {
    width: 30%;

}

.headtop {
    grid-area: header;
}

.hero {
    grid-area: heroimage; 
}

.content-2 {
    grid-area: content2; 
}

.content-1 {
    grid-area: sidebar;
}

.menu {
    grid-area: menu1; 
}

.footer {
    grid-area: footer; 
}


.heroimage {
    width: 100%;
    opacity: 80%; 

}

.footer {
   background-color: rgba(6, 12, 44, 0.904);
   color: white; 
}


.content-2 {
    margin: 37px;
    margin-top: -80px;  
    margin-bottom: 0;
    padding: 25px; 
    border: 1px solid #9d8367;
    line-height: 25px;
    background-color: white;
    display: block; 
    position: relative;

}

.content-1 {
    margin: 37px;
    margin-top: 0;  
    padding: 25px;  
    background-color: #9d8367;
    border: 1px solid #9d8367; 

}

.content-1 ul {
  list-style: none; 
  display: block; 
}

.content-1 li {
    color: white;
    text-shadow: 1px 1px 2px #463a2e52;
}

.p2, .p3 {
    color: whitesmoke; 
}

.p3 {
    font-weight: bold;
    text-shadow: 1px 1px 2px #463a2e52;
}


.h2 {
    text-align: center;
    color: #9d8367; 
    text-shadow: 1px 1px 2px #9d836775;
    font-family: 'bookman old style';
    font-weight: 400;
}

.headline1 {
    text-align: center; 
    border: 1px solid transparent; 
    background: #9d8367;
    margin-left: 37px; 
    margin-right: 37px; 
    color: white;
    text-shadow: 1px 1px 2px #463a2e52;
    padding: 5px; 
    font-family: 'bookman old style'; 
    font-weight: 400; 

}

.menu ul {
    list-style: none;
    display: block;   
}

.menu li {
    padding: 5px; 
    margin: 10px;  
    border-bottom: 1px solid #9d8367;
    width: 260px;  

}

.headtop {
    background-color: white;
}

.menu {
    margin-bottom: 250px; 
}


.web-nav {
    display: none;
}

.container {
    border: none;
    margin: auto;
    display: grid;
    grid-template-areas: 
    "header"
    "heroimage"
    "content2"
    "sidebar"
    "menu1"
    "footer";

}



@media (min-width: 500px) {
    .container {
        grid-template-columns: repeat(2, 1fr); 
        grid-template-areas: 
        "header header"
        "heroimage heroimage"
        "content2 sidebar"
        "menu1 menu1"
        "footer footer";
    }

    .web-nav {
        display: grid; 
    }

    .mobile-nav {
        display: none; 
    }

    .content-2 {
        margin: 37px;
        padding: 25px;
        margin-right: 0px;
        margin-top: -80px;   
    }

    .p2 {
        padding: 25px; 
    }

    .p3 {
        padding-left: 25px; 
    }

    .content-1 {
        padding: 25px; 
        margin: 37px; 
        margin-left: 0px;
        margin-top: -80px; 
        display: block; 
        position: relative; 
    }

    .Article {
         margin-top: 40px; 
    }

    

    .logo {
        width: 20%;
    }

    .h2 {
        text-align: left;
    }

    .headline1 {
        text-align: center;
        font-weight: bold;
        text-shadow: 1px 1px 2px #2c1806ef;
    
    }
    
    
    .menu {
        background-color: #9d8367;
        padding: 25px; 
        margin-top: 200px; 
    }

    .menu li {
        border-bottom: 1px solid rgb(95, 6, 6);
        color: white;
    }

    .menu ul li{
        display: inline-block; 
    }
    
    footer {
        display: flex;
        justify-content: space-evenly;
        background-color: #0E4600;
            color: white;
        font-size: 15px;
        }
        
        .ikoncontainer 

   .logo {
       float: left;
   }

    nav.web-nav {
        margin: 5px; 
        padding: 0;
        justify-content: end;
    }

    nav.web-nav ul { 
        margin-right: 20px;
    }

    nav.main-nav ul li {
        display: inline-block; 
        padding: 15px 0px;
        
    }

    .medier, .footertekst, .footertekst1, .footertekst2 {
        display: inline-table;
        padding: 25px;
        margin-left: 37px;  
      
    }

    .logoF {
        width: 80%;
        margin-top: 25px; 
    }
    
    .footerlogo {
        width: 200px;
        padding: 0; 
        float: right;
    }

}





