@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');

html body {
    margin: 0;
    padding: 0;
    width: 100%;
}

.container {
    border: none;
    width: 100%;
    margin: auto;
    display: grid;
}

.video {
    grid-area: video;
    width: 100%;
}

.jul {
    grid-area: jul;
}

.billet {
    grid-area: billet;
}

.åbningstider {
    grid-area: åbent;
}

.program {
    grid-area: program;
}

.mad {
    grid-area: mad;
}

.covid {
    grid-area: covid;
}

.billede1 {
    grid-area: billede1;
}
   

.billede2 {
   grid-area: billede2;
}

.billede3 {
    grid-area: billede3;
}

.billede4 {
    grid-area: billede4;
}

.billede5 {
    grid-area: billede5;
}

img {
    width: 100%;
    height: auto;
}

@media screen and (max-width: 399px) {
    header {
        display: block;
        width: 100%;
        height: 100px;
    }

    .logo {
        height: 50px;
        width: auto;
    }

   .container {
       text-align: center;
        grid-template-columns: 49% 49%;
        grid-template-rows: auto auto auto auto auto auto;
        grid-column-gap: 2%;
        grid-template-areas: 
        "video video"
        "jul jul"
        "billede1 åbent"
        "billet billede2"
        "billede3 billede3"
        "program program"
        "billede4 covid"
        "mad billede5";
    } 

<<<<<<< HEAD
    body {background-image: url(../Image/jule\ halløj.PNG);
=======
<<<<<<< HEAD
    body {background-image: url(../Image/jule\ halløj\ med\ opacity.jpg);
    background-repeat: repeat;
    }
=======
    body {background-image: url(../Image/jule\ halløj.PNG) 
        ;
>>>>>>> 3d01e8af37fab6d5b7584a11707bc06cb9bfa527
    background-repeat: repeat;}
>>>>>>> b078f5ee2ea3d1a9fdc6b4b824c87e5f7782dbea
}

